<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/test.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
  
 

    <title>about Adides</title>
</head>

<body>
 <div class="container_about">
    <h1>wlcome in our site</h1>
    <p>
        We are a company that aims to provide high quality products to customers all over the world.
        <p> We focus on providing a wonderful shopping experience for our customers by providing the latest fashion and the best products.</p>

    </p>
    
     <div class="image-container">
        <img src="download-removebg-preview.png" alt="Image description">
        <img src="download-removebg-preview.png" alt="">
     </div>
       <a href="contact us.html"> <button> Contact Us</button> </a>
 </div>


</body>
</html>