<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/test.css">
   <link rel="stylesheet" href="css/bootstrap.css">
   <link rel="stylesheet" href="css/bootstrap.min.css">

   <title>Document</title>
</head>
<body>
    <div class="container-contact">
        <h2>FeedBack</h2>
     <textarea>

     </textarea>
     <input type="submit" value="send"> 
     
    </div>

</nav>
</body>
</html>