<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
   <link rel="stylesheet" href="css/test.css">
   <link rel="stylesheet" href="css/bootstrap.css">
   <link rel="stylesheet" href="css/bootstrap.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>



   <div class="container">
    
    <nav>
        
        <a class="logo" href="#"> Adidas</a>
        
        <ul>
            
            <li><a href="Men.html">Men</a></li>
            <li><a href="women .html">Women</a></li>
            <li><a href="kid.html">kid</a></li>
            <li><a href="contact us.html">Contact Us</a></li>
        </ul>
    </nav>
    <div class="content">
        <div class="text">
            <h2> Adides Egypt, <br> Runing Shoes</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem est cupiditate quis. Asperiores, nihil magni?</p>
        </div>
        <div class="image">
           <img src="shoes.png">
        </div>
    </div>
   </div>
   
  
</body>
</html>