
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="css/test.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
<head>
	<title>womenChoose</title>
</head>
<body>
	<div class="container_women">
		<h1>womenChoose</h1>
		<div class="product">
			<div class="product__item">
				<img src="istockphoto-981731762-612x612.jpg" alt=" 1" class="product__image">
				<h2 class="product__title">product1</h2>
				<p class="product__price">50$</p>
				<button class="product__button">Buy Now</button>
			</div>
			<div class="product__item">
				<img src="istockphoto-981731762-612x612.jpg" alt="مج 2" class="product__image">
				<h2 class="product__title">product2</h2>
				<p class="product__price">80$</p>
				<button class="product__button">Buy Now</button>
			</div>
			<div class="product__item">
				<img src="istockphoto-981731762-612x612.jpg" alt="منتج 3" class="product__image">
				<h2 class="product__title">product3</h2>
				<p class="product__price">120$</p>
				<button class="product__button">Buy Now</button>
			</div>
			<div class="product__item">
				<img src="istockphoto-981731762-612x612.jpg" alt="منتج 4" class="product__image">
				<h2 class="product__title">product4</h2>
				<p class="product__price">90$</p>
				<button class="product__button">Buy Now</button>
			</div>
			<div class="product__item">
				<img src="istockphoto-981731762-612x612.jpg" alt="منتج 5" class="product__image">
				<h2 class="product__title">product5</h2>
				<p class="product__price">150$</p>
				<button class="product__button">Buy Now</button>
			</div>
			<div class="product__item">
				<img src="istockphoto-981731762-612x612.jpg" alt="منتج 6" class="product__image">
				<h2 class="product__title">product6</h2>
				<p class="product__price">70$</p>
				<button class="product__button">Buy Now</button>
			</div>
		</div>
	</div>
</body>
</html>